<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="phpunit.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         beStrictAboutOutputDuringTests="true"
>
	<testsuites>
		<testsuite name="LeagueAPI:Definition_Tests">
			<directory>tests/LeagueAPI/Definition/</directory>
		</testsuite>
		<testsuite name="LeagueAPI:Endpoint_Tests">
			<directory>tests/LeagueAPI/Endpoint/</directory>
		</testsuite>
		<testsuite name="LeagueAPI:EndpointIntegrity_Tests">
			<directory>tests/LeagueAPI/EndpointObjectIntegrity/</directory>
		</testsuite>
	</testsuites>

	<coverage cacheDirectory="build/cache/phpunit_coverage"
			  includeUncoveredFiles="true"
			  processUncoveredFiles="true"
			  pathCoverage="false"
			  ignoreDeprecatedCodeUnits="true"
			  disableCodeCoverageIgnore="true"
	>
		<include>
			<directory suffix=".php">src/LeagueAPI</directory>
		</include>

		<exclude>
			<directory suffix=".php">vendor</directory>
		</exclude>
	</coverage>
</phpunit>